.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #111;
  color: white;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-logo img {
  height: 40px;
  width: auto;
}
