.transaction-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  margin: 1px 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  border-radius: 4px;
}

.transaction-card:hover {
  background-color: var(--hover-bg);
}

.transaction-card p {
  margin: 5px 8px;
  line-height: 1.2;
}

.type {
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.type.buy {
  color: var(--buy-color);
}

.type.sell {
  color: var(--sell-color);
}

.quantity, .price {
  width: 60px;
  text-align: right;
}

.timestamp {
  width: 140px;
  text-align: center;
  font-size: 0.8rem;
}

.player, .user {
  width: 120px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .transaction-card {
    flex-wrap: wrap;
    font-size: 0.8rem;
  }

  .timestamp, .player, .user {
    width: 100%;
    text-align: left;
    margin: 2px 0;
  }
}