:root {
  --background-color: #fafafa;;
  --text-color: #201f1f;
  --hover-bg: #cfcfcf;
  --buy-color: #4caf50;
  --sell-color: #f44336;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
